$map: (
  key: "value",
  large: 60px,
  medium: 55px,
  small: 18px
);

$fontsizes: (
  //  '.key' : value,
  "h1": 50px,
  "h2": 46px,
  "h3": 36px,
  "span": 14px,
  "div": 16px,
  ".title_h2": 38px
); // map


