// 變數
/*css 註解*/

//共用變數
@import "base/color";
@import "base/font";
@import "base/var";
@import "base/reset";

// function
@import "mixin/mixin";

//component
@import "component/btn";
@import "component/card";
@import "component/form";
@import "component/body";
@import "component/title";
@import "component/spacing";
@import "component/grid";
@import "component/banner";

// layout
@import "layout/header";
@import "layout/footer";
@import "layout/login";

// page
@import "page/index";
@import "page/about";
@import "page/product";

//plugin
// @import "plugin/bootstrap";

// sass 運算

// div {
//   width: 100px + 400px; //要注意單位
//   height: 100px - 10px;
//   margin: 10 * 10 + px;
//   //font : (100 / 30) + px;// 除法要注意
// }

// @if @else @else if

$color: red;
@if $color == black {
  .a {
    color: black;
  }
} @else if $color == red {
  .a {
    color: #f20;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+TC:wght@100;400&family=Roboto&display=swap");

// spacing
@for $i from 1 through 10 {
  .border-radius-#{$i} {
    border-radius: $i * 4px;
  }
}

header {
  display: flex;
  width: 1920px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  .logo {
    width: 102px;
    height: 72px;
  }
  nav {
    display: flex;
    width: 325px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0px 13px;
    flex-shrink: 0;
    flex-wrap: wrap;
  }
}
