// 變數
/*css 註解*/

//共用變數
@import "base/color";
@import "base/font";
@import "base/var";
@import "base/reset";

// function
@import "mixin/mixin";

//component
@import "component/btn";
@import "component/card";
@import "component/form";
@import "component/body";
@import "component/title";

// layout
@import "layout/header";
@import "layout/footer";
@import "layout/login";

// page
@import "page/index";
@import "page/about";
@import "page/product";

//plugin
// @import "plugin/bootstrap";


// sass 運算

div {
  width:  100px + 400px;  //要注意單位
  height:  100px - 10px;
  margin:  10 * 10  + px;
  font : (100 / 30) + px;// 除法要注意
}

// @if @else @else if

$color : true;
// @if $color {
//    .a {
//      color : black
//    }
// }@else {
//     .a {
//      color: #f20;

//     }
// }

.a {
  @if $color {
    color : #000;
  }@else {
    color : #f20
  }
}








