// 置中
@mixin center($w, $h: null) {
  margin: 0 auto;
  width: $w;
  height: $h;
}

// 方形
@mixin rect($w, $h: $w) {
  width: $w;
  height: $h;
}

// layout
@mixin layout($w) {
  @if $w == 100% {
    width: 100%;
  } @else {
    max-width: $w;
    margin: 0 auto;
    width: 100%;
  }
}

@mixin a() {
  font-size: 20px;
  &:hover {
    @content;
  }
}

a {
  color: #333;
  @include a() {
    color: #999;
  }
}

@mixin m() {
  @media all and (max-width: $m) {
    // 手機板
    @content;
  }
}

@mixin t() {
  @media all and (max-width: $t) {
    // 平板
    @content;
  }
}

@mixin set($val) {
  @media all and (max-width: $val) {
    // 客製化
    @content;
  }
}

@mixin fontWeight($w) {
  @if $w == bold {
    font-weight: bold;
  } @else if $w == default {
    font-weight: 400;
  } @else {
    font-weight: 100;
  }
}

@mixin fontstyle($style) {
  @if $style == "zh" {
    font-family: "Noto Sans TC", sans-serif;
  } @else if $style == "en" {
    font-family: "Montserrat", sans-serif;
  }
}


@mixin border($color , $border : true){
   @if $border {
     border: 1px solid $color;
     border-radius: 6px;
   }@else {
     border: initial;
   }
}

@mixin btnColor($bgc , $border: false) {
  @if $border {
    border: 1px solid $bgc;
    color: $bgc;
    &:hover {
      background-color: $bgc;
      color: #fff
    }
  } @else {
    background-color: $bgc;
    color: #fff;
    &:hover {
      background-color: darken($bgc, 10);
    }
  }
}