body {
  background-color: $bgcolor;
  font-size: $fontSize;
  margin: 0;
  padding: $list;
  line-height: 1.2;
  @include fontstyle(zh);
}

// .wrapper {
//   // max-width: 1440px;
//   margin: 0 auto;
//   width: 100%;
//   min-height: 500px;
//   background-color: #a5ff28;
// }

.wrapper_full {
  @include layout(100%);
  padding: 10px 20px;
}


