.btn {
  cursor: pointer;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.43px;
  width: 180px;
  height: 60px;
}

@mixin btnColor($bgc , $border: false) {
  @if $border {
    border: 1px solid $bgc;
    color: $bgc;
    &:hover {
      background-color: $bgc;
      color: #fff
    }
  } @else {
    background-color: $bgc;
    color: #fff;
    &:hover {
      background-color: darken($bgc, 10);
    }
  }
}

// .boxcolor {
//   background-color: lighten(#000 , 100);
//   @include rect(100px , 200px);
// }

.btn_default {
  @include btnColor(#0700d1 , true);
}

.btn_error {
  @include btnColor(#c02300, true);
}

.btn_fail {
   @include btnColor(#01d21d);
}

//圓角
.btn_radius {
  border-radius: 10px;
}
.btn_rounded {
  border-radius: 30px;
}
