// .boxcolor {
//   background-color: lighten(#000 , 100);
//   @include rect(100px , 200px);
// }

//按鈕的基本結構
.btn {
  cursor: pointer;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.43px;
}


//按鈕的尺寸
.btn_default {
   width: 150px;
   height: 40px
}

.btn_sm {
   width: 100px;
   height: 40px
}

.btn_xl {
   width: 200px;
   height: 40px
}

//按鈕的顏色
.btn_primary {
  @include btnColor(#0700d1 , true);
}

.btn_error {
  @include btnColor(#c02300, true);
}

.btn_fail {
   @include btnColor(#01d21d , true);
}

//圓角
.btn_radius {
  border-radius: 10px;
}
.btn_rounded {
  border-radius: 30px;
}
