// :root{
//     --gap:10px;
//     --col-gap:8.333333%;
// }

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"],
[class*="row-cols-"],
.col {
  padding: 0 15px;
  box-sizing: border-box;
}


@include grid(12); //桌機
@include t() {
  @include grid(12 , md);
} //平板

@include m(){
   @include grid(12, sm);
}//手機

//桌機
// @for $i from 1 through 12 {
//   .col-#{$i} {
//     width: ($i / 12) * 100%;
//   }
// }

//平版
// @for $i from 1 through 12 {
//   @include t() {
//     .col-md-#{$i} {
//       width: ($i / 12) * 100%;
//     }
//   }
// }
//手機
// @for $i from 1 through 12 {
//   @include m() {
//     .col-sm-#{$i} {
//       width: ($i / 12) * 100%;
//     }
//   }
// }

.row-cols-1 > .col {
  width: 100%;
}
.row-cols-2 > .col {
  width: 50%;
}
.row-cols-3 > .col {
  width: 33.333333%;
}
.row-cols-4 > .col {
  width: 25%;
}
.row-cols-5 > .col {
  width: 20%;
}
.row-cols-6 > .col {
  width: 16.66666%;
}
@media screen and (min-width: 768px) {
  .row-cols-md-1 > .col {
    width: 100%;
  }
  .row-cols-md-2 > .col {
    width: 50%;
  }
  .row-cols-md-3 > .col {
    width: 33.333333%;
  }
  .row-cols-md-4 > .col {
    width: 25%;
  }
  .row-cols-md-5 > .col {
    width: 20%;
  }
  .row-cols-md-6 > .col {
    width: 16.66666%;
  }
}
@media screen and (min-width: 1024px) {
  .row-cols-lg-1 > .col {
    width: 100%;
  }
  .row-cols-lg-2 > .col {
    width: 50%;
  }
  .row-cols-lg-3 > .col {
    width: 33.333333%;
  }
  .row-cols-lg-4 > .col {
    width: 25%;
  }
  .row-cols-lg-5 > .col {
    width: 20%;
  }
  .row-cols-lg-6 > .col {
    width: 16.66666%;
  }
}
@media screen and (min-width: 1200px) {
  .row-cols-xl-1 > .col {
    width: 100%;
  }
  .row-cols-xl-2 > .col {
    width: 50%;
  }
  .row-cols-xl-3 > .col {
    width: 33.333333%;
  }
  .row-cols-xl-4 > .col {
    width: 25%;
  }
  .row-cols-xl-5 > .col {
    width: 20%;
  }
  .row-cols-xl-6 > .col {
    width: 16.66666%;
  }
}
