  header {
    width: 100%;
    background-color: #ffb302;
    nav {
      ul {
        list-style: none;
        display: flex;
        li {
          padding: 10px 30px;
          background-color: #20ea88;
          text-align: center;
        }
      }
    }
  }